body {
  font-family: 'Exo 2', sans-serif;
  background-image: url(../img/back.png);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  max-width: 1100px;
  margin: auto;
  margin-top: 250px;
}

.wiadomosc {
  width: 40%;
  height: 550px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  background: white;
}

.wiadomoscTlo {
  background-image: url(../img/technology.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-top-right-radius: 10px ;
  border-top-left-radius: 10px;
}

.wiadomoscNaglowek {
  font-weight: 200;
  padding: 0 20px;
  font-size: 25px;
}

.wiadomoscP {
  padding: 0 20px;
}

.wiadomoscAutor {
  text-align: right;
  padding: 0 20px;
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .wiadomosc {
    width: 90%;
  }

}
#logo {
  position: absolute; top: -525px; right: 80px ; z-index: 5
}

#rectangleM
{
    width: 706px;
  	height: 210px;
  	background: #f1f1f1;
    position: absolute; left: 557px; top: -10px;
    z-index: 4
}

#rectangle_right
{
  width: 0;
  	height: 0;
  	border-top: 210px solid #f1f1f1;
  	border-right: 550px solid transparent;
    position: absolute; top: -10px;
    left: 1260px;
}

#rectangle_left
{
  width: 0;
  	height: 0;
  	border-top: 210px solid #f1f1f1;
  	border-left: 550px solid transparent;
    position: absolute; top: -10px;
